@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #D6A2FF;
    color: #2D3557;
    margin: 0;
}


.student {
    font-family: Montserrat;
    background: rgb(163, 83, 224);
    border-radius: 12px;
    font-weight: 900;
    font-size: large;
    padding: 1rem;
    border-width: 0;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 rgb(104, 84, 160);
}

.teacher {
    font-family: Montserrat;
    background: #ffffff;
    border-radius: 12px;
    font-weight: 900;
    font-size: large;
    padding: 1rem;
    border-width: 0;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
}