@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #D6A2FF;
    color: #2D3557;
    margin: 0;
    padding: 0;
}


.student {
    font-family: Montserrat;
    background: rgb(163, 83, 224);
    border-radius: 12px;
    font-weight: 900;
    font-size: large;
    padding: 1rem;
    border-width: 0;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 rgb(104, 84, 160);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 30px 25%;
    align-items: center;
    width: 100vw;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.first-section {
    display: flex;
    background: #D6FFA2;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 30rem;
}
.main-heading {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 5rem;
    color:   #CBA2FF
}
.buttons {
    display: inline-block;
    padding: 0 20px;
    
}

.teacher {
    font-family: Montserrat;
    background: #ffffff;
    border-radius: 12px;
    font-weight: 900;
    font-size: large;
    padding: 1rem;
    border-width: 0;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
}